
AccountingManagementSystem/obj/Debug/AccountingManagementSystem.dll
AccountingManagementSystem/obj/Debug/AccountingManagementSystem.dll
AccountingManagementSystem/obj/Debug/AccountingManagementSystem.pdb
AccountingManagementSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AccountingManagementSystem/bin
/AccountingManagementSystem
/AccountingManagementSystem/bin
AccountingManagementSystem/AccountingManagementSystem.csproj
.vs/AccountingManagementSystem/v16/.suo
*.dll
*.dll
.vs/AccountingManagementSystem/v16/.suo
